.hero {
    width: 100%;
    min-height: 38.3rem;
    border: 0.1rem var(--border-transparent) solid;
    background: linear-gradient(to right, rgba(1, 19, 54, 0.6) 14%, rgba(1, 1, 37, 0.7) 51%, rgba(64, 2, 17, 0.7) 100%), url('../../../../assets/bg-image.webp');
    background-size: cover;
    border-radius: 1.6rem;
}
.container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    padding: 4.5rem 12.8rem;
    height: 100%;
    box-sizing: border-box;
    gap: 1rem;
}

.iconAvatar {
    width: 10.9rem;
    height: 10.9rem;
}
.personalInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    
}

.footerBasic{
    display: flex;
    gap: 2rem;
}

.footerBasic a{
    color: var(--yellow-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    transition: all .3s ease;
}
.footerBasic a:hover{
    transform: scale(1.2);
}

@media (max-width: 1025px){
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 4.5rem;
        height: 100%;
        box-sizing: border-box;
        gap: 1rem;
    }
    .personalInfo {
        align-items: center;
        
    }
}