.container{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;    
    z-index: -1;
    
}

.purple{
    position: absolute;
    left: -20%;
    top: -30%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--bg-purple1);
    filter: blur(25rem);
}
.red{
    position: absolute;
    right: -20%;
    top: -30%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--bg-red);
    filter: blur(24rem);
}

.blue{
    position: absolute;
    left: -20%;
    bottom: -30%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--bg-blue);
    filter: blur(25rem);
}

.purple2{
    position: absolute;
    right: -20%;
    bottom: -30%;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: var(--bg-purple2);
    filter: blur(25rem);
}

@media (max-width: 600px) {

    .purple, .red, .blue, .purple2 {
        height: 120rem; /* Ajustar el tamaño para pantallas más pequeñas */
        width: 30rem;
        filter: blur(25rem); /* Reducir el blur en pantallas pequeñas */
    }
    .purple {
        left: -20%;
        top: -30%;
    }
    .red {
        right: -20%;
        top: -30%;
    }
    .blue {
        left: -20%;
        bottom: -30%;
    }
    .purple2 {
        right: -20%;
        bottom: -30%;

    }
}