.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: var(--transparent-color);
    height: 10rem;
    backdrop-filter: blur(2px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;

}
.nav {   
    display: flex;
    width: 40rem;
    justify-content: center;
    height: 6.4rem;
    align-items: center;
    border-radius: 1.6rem;
    border: 0.07rem var(--red-color) solid ;

}
.ul {
    width: 70%;
    position: relative;
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ul::after {
    content: '';
    position: absolute;
    right: 5%;
    top: 0;
    width: 1px; /* Ancho de la línea */
    height: 100%;
    background-color: var(--red-color);
}

.ul2 {
    color: gray;
}