@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400..900&display=swap');
:root {
    --title-font:"Orbitron", sans-serif; 
    --p-font: "K2D", sans-serif;
    --yellow-color: #D9AC25;
    --red-color: #EA1E31;
    --blue-color: #135AE5;
    --transparent-color: rgba(3, 3, 16, 0.3);
    --border-transparent: rgba(255, 255, 255, 0.3);
    --bg-red: #A50917;
    --bg-blue: #06338A;
    --bg-purple1: #3C0545;
    --bg-purple2: #2D0A33;
    --text-color: #ffffff;
}


*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0F172A;
    height: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

.title1 {
    font-family: var(--title-font);
    font-size: 2.4rem;
}

.title2 {
    font-family: var(--title-font);
    font-size: 2.2rem;
}

.title3 {
    font-family: var(--p-font);
    font-size: 1.7rem;
}

.paragraph {
    font-family: var(--p-font);
    color: #d3d3d3;
    font-size: 1.8rem;
}

.button-text {
    font-family: var(--title-font);
    font-size: 1.5rem;
}

.button-style {
    background: linear-gradient(120deg, #7C1304 0%, #C61A2A 54%, #7C1304 100%);
    color: var(--text-color);
    border: 0.05rem var(--text-color) solid;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button-style:disabled{
    background: gray;
}

/* Estilos del modal */

.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: rgba(3, 3, 16, 1);
    backdrop-filter: blur(4px);
    border-radius: 1.6rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 62rem;
    width: 50rem;
    outline: none;
    padding: 2rem;
}


/* responsive */
@media (max-width: 1025px){
    .paragraph {
        font-size: 1.6rem;
    } 
}

@media (max-width: 600px){
    .paragraph {
        font-size: 1.3rem;
    } 
}