.container {
    position: relative;
    display: flex;
    max-width: 152rem;
    width: 90%;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;

    color: white;
    z-index: 1;
}